.hero-banner {
  min-height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-banner h3 {
  margin-bottom: 0.5rem;
}

.hero-banner nav {
  margin-top: 1.5rem;
}
.custom-input {
    background-color: #c7c7c724;
    box-shadow: none !important;
    color: grey !important;
}

.borderInput {
    border-color: #c7c7c7 !important;
}

/*.custom-input input {
    background-color: #f9f9f9;
}*/
